.container-layout{
    display: grid;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,auto);
    
    grid-template-areas: "header header header header"
                         "sinitial sinitial sinitial sinitial"
                         "about about about about"
                         "service service service service"
                         "whatsapp whatsapp whatsapp whatsapp"
                         "portafolio portafolio portafolio portafolio"
                         "contacto contacto contacto contacto"
                         "footer footer footer footer";
}

.header{
    grid-area: header;
}
.section-initial{
    grid-area: sinitial;
}
.section-about{
    grid-area: about;
}
.section-service{
    grid-area: service;
    display: grid;
    grid-template-columns: subgrid;
}
.sub-sec-service-1{
    grid-column: 1;
}
.sub-sec-service-2{
    grid-column: 2;
}
.sub-sec-service-3{
    grid-column: 3;
}
.sub-sec-service-4{
    grid-column: 4;
}
.section-whatsapp{
    grid-area: whatsapp;
}
.section-portafolio{
    grid-area: portafolio;
    display: grid;
    grid-template-columns: subgrid;
}

.sub-sec-portafolio-1{
    grid-column: 1;
}
.sub-sec-portafolio-2{
    grid-column: 2;
}
.sub-sec-portafolio-3{
    grid-column: 3;
}
.sub-sec-portafolio-4{
    grid-column: 4;
}
.section-contacto{
    grid-area: contacto;
}
.section-footer{
    grid-area: footer;
}