/*Layout General template*/
.container-layout{
    display: grid;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,auto);
    
    grid-template-areas: 
                         "sinitial sinitial sinitial sinitial"
                         "about about about about"
                         "service service service service"
                         "whatsapp whatsapp whatsapp whatsapp"
                         "portafolio portafolio portafolio portafolio"
                         "contacto contacto contacto contacto"
                         "footer footer footer footer";
}
/*Layout Header no css grid*/
.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0; 
}
.layout-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}
.layout-header-list-menu ul li{
    display: inline-block;
    padding-left: 0.6rem;
}


/*Layout and features Section Initial*/
.section-initial{
    grid-area: sinitial;
}
/*Layout and features Section about*/

.section-about{
    grid-area: about;
}
/*Layout and features Section service*/

.section-service{
    grid-area: service;
    display: grid;
    grid-template-columns: subgrid;
}
.sub-sec-service-1{
    grid-column: 1;
}
.sub-sec-service-2{
    grid-column: 2;
}
.sub-sec-service-3{
    grid-column: 3;
}
.sub-sec-service-4{
    grid-column: 4;
}

/*Layout and features Section whatsapp*/

.section-whatsapp{
    grid-area: whatsapp;
}

/*Layout and features Section portafolio*/

.section-portafolio{
    grid-area: portafolio;
    display: grid;
    grid-template-columns: subgrid;
}

.sub-sec-portafolio-1{
    grid-column: 1;
}
.sub-sec-portafolio-2{
    grid-column: 2;
}
.sub-sec-portafolio-3{
    grid-column: 3;
}
.sub-sec-portafolio-4{
    grid-column: 4;
}

/*Layout and features Section contacto*/

.section-contacto{
    grid-area: contacto;
}

/*Layout and features Section footer*/

.section-footer{
    grid-area: footer;
}

/*Media Queries*/



@media only screen and (max-width: 576px){
  
    .layout-header-list-menu li{
        display: none;
    }
    .menu-icon.show{
        grid-column: 4;
        display: block;
    }
    
}

