body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo-atmosfera{
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 9rem;
    height: 2rem;
}

.content-center{
    max-width: 20rem;
    text-align: center;
    padding-top: 20rem;
    padding-left: 5rem;
}

/*=================Utilidades==========*/

.padding-section-top{
    padding-top: 13rem;
}
div i{
    background-color: red;
    color: red;
}

/*=================Utilidades==========*/

#hero{
    background-image: url('../img/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 100vh;
}

/*=========================About===*/
#about{
    background: #000000;
    height: 768px;
    width: 1023p;

}
div p{
    color: white;
}
div span{
    text-align: start;
    color: #237add;
}
.container-image{
    background-image: url('../img/perfil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
}
/*=========================End About===*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    #hero{
        background-position: center;
    }

    .content-center{
        max-width: 20rem;
        text-align: center;
        padding-top: 15rem;
        padding-left: 3rem;
    }
    

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {  


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  


}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  


}
